<!DOCTYPE html>
<html lang="fr">
  <head>    
    <meta charset="utf-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link rel="icon" type="image/png" href="assets/favicon.png">
    <link href="https://fonts.googleapis.com/css?family=DM+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="<%= require('./css/normalize.css') %>" rel="stylesheet" type="text/css" />
    <% for (var chunk in htmlWebpackPlugin.files.js) { %>
      <link href="<%= htmlWebpackPlugin.files.css[chunk] %>"  rel="stylesheet" type="text/css"/>
    <% } %>    
  </head>
  <body>
    <header>
      <a href="index.html">
        <img src="<%= require('./assets/logo.svg') %>" class="logo" alt="Fisheye Home page" />
      </a>
    </header>
    <main id="main">
      <section id="profil"></section>
      <section id="filter"></section>
      <section id="portfolio"></section>
    </main>
    <% for (var chunk in htmlWebpackPlugin.files.js) { %>
      <script src="<%= htmlWebpackPlugin.files.js[chunk]%>"></script>
    <% } %>
  </body>
</html>
